@{
    Layout = "~/Views/Shared/_LayoutAdminHome.cshtml";
}

<h1>Nome usuário</h1>

<h2>Dados Gerais</h2>

<label for="nomeTxt">Nome</label>
<input type="text" name="nomeTxt" id="">

<label for="cpfTxt">CPF</label>
<input type="text" name="cpfTxt" id="">

<label for="dataNascimentoTxt">Data de Nascimento</label>
<input type="date" name="dataNascimentoTxt" id="">

<label for="telefoneTxt">Telefone</label>
<input type="tel" name="telefoneTxt" id="">

<h2>Endereço</h2>

<label for="cepTxt">CEP</label>
<input type="text" name="cepTxt" id="cepTxt">

<label for="logradouroTxt">Logradouro</label>
<input type="text" name="logradouroTxt" id="logradouroTxt">

<label for="numeroTxt">Número</label>
<input type="number" name="numeroTxt" id="numeroTxt">

<label for="bairroTxt">Bairro</label>
<input type="text" name="bairroTxt" id="bairroTxt">

<label for="localidadeTxt">Cidade</label>
<input type="text" name="localidadeTxt" id="localidadeTxt">

<label for="telefoneTxt">Estado</label>
<input type="tel" name="telefoneTxt" id="telefoneTxt">

<script src="/js/form.js"></script>