@{
    Layout = "~/Views/Shared/_LayoutAdminHome.cshtml";
}
@using LojaBase.Models;

<table>
    <tr class="cabecalho">
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Grupo de Permissões</th>
        <th>Ações</th>
    </tr>

    @foreach (Usuario usu in ViewBag.ListaUsuarios)
    {
        <tr class="row-data">
            <td>@usu.Nome</td>
            <td>@usu.DataNascimento</td>
            <td>@usu.Telefone</td>
            <td>@usu.Email</td>
            <td>teste</td>
            <td>
                <a href="/admin/usuarios/editar/@usu.Id" id="editarBtn">
                    <img src="/imgAdmin/edit.svg" alt="Editar">
                </a>
                <a href="/admin/usuarios/excluir/@usu.Id" id="excluirBtn">
                    <img src="/imgAdmin/delete.svg" alt="Excluir">
                </a>
            </td>
        </tr>
    }
</table>