@{
    Layout = "~/Views/Shared/_LayoutAdminHome.cshtml";
}

<a href="/admin/logs/produtos">Logs - Busca por Produto</a>
<a href="/admin/logs/produtos">Logs - Busca por Usuário</a>
<a href="/admin/logs/produtos">Logs - Alterações no Sistema</a>
<a href="/admin/logs/ajuda">Ajuda</a>