@{
    Layout = "~/Views/Shared/_LayoutAdminHome.cshtml";
}

<a href="/admin/produtos/cadastrar">Cadastrar Produto</a>
<a href="/admin/produtos/cadastrar">Listar Produtos</a>
<a href="/admin/produtos/cadastrar">Relatórios</a>