@{
    Layout = "~/Views/Shared/_LayoutAdminHome.cshtml";
}

<a href="/admin/usuarios/cadastrar">Cadastrar Usuario</a>
<a href="/admin/usuarios/lista">Listar Usuários</a>
<a href="/admin/usuarios/permissoes">Permissões de Usuario</a>
<a href="/admin/usuarios/relatorios">Relatórios</a>
